html {
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex;
  flex-direction: column; */
  margin: 0;
  background-color: #faf8f8;
  color: #141414;
}

code {
  font-family: "Spartan", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #51637099;
}

#root {
  position: relative;
  height: 100%;
}
