html {
  height: 100%;
}

body {
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  margin: 0;
}

code {
  font-family: "Spartan", sans-serif;
}
